<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.compuware.frameworks.workbench.showSelectWorkspace" name="ShowSelectWorkspace" schema="schema/com.compuware.frameworks.workbench.showSelectWorkspace.exsd"/>

   <extension
         point="org.eclipse.ui.menus">
<!-- keep this in case we ever want to build menus via plugin.xml in the future
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">         
         <menu
               id="file"
               label="%menu.file.label"
               mnemonic="%mnemonic.F">
            <menu
                  commandId="org.eclipse.ui.newWizard"
                  id="new"
                  label="%menu.file.new.label"
                  mnemonic="%mnemonic.N">
               <dynamic
                     class="org.eclipse.ui.actions.NewWizardMenu"
                     id="org.eclipse.ui.file.newQuickMenu">
               </dynamic>
               <separator
                     name="additions"
                     visible="true">
               </separator>
            </menu>
             <separator
                  name="new.ext"
                  visible="false">
            </separator>
             <separator
                   name="separator1"
                   visible="true">
             </separator>
            <command
                  commandId="org.eclipse.ui.file.close">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll">
            </command>
            <separator
                  name="close.ext"
                  visible="false">
            </separator>
            <separator
                  name="separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  icon="icons/save.gif">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  icon="icons/saveAs.gif">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll">
            </command>
            <separator
                  name="save.ext"
                  visible="false">
            </separator>
            <separator
                  name="separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.print">
            </command>
            <separator
                  name="print.ext"
                  visible="false">
            </separator>
            <separator
                  name="separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export">
            </command>
            <separator
                  name="import.ext"
                  visible="false">
            </separator>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <separator
                  name="separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit">
            </command>
            <separator
                  name="fileEnd"
                  visible="false">
            </separator>
         </menu>
         <menu
               id="edit"
               label="%menu.edit.label"
               mnemonic="%mnemonic.E">
            <separator
                  name="editStart"
                  visible="false">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  icon="icons/undo.gif">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  icon="icons/redo.gif">
            </command>
            <separator
                  name="undo.ext"
                  visible="false">
            </separator>
            <separator
                  name="separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  icon="icons/cut.gif">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  icon="icons/copy.gif">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  icon="icons/paste.gif">
            </command>
            <separator
                  name="cut.ext"
                  visible="false">
            </separator>
            <separator
                  name="separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  icon="icons/delete.gif">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll">
            </command>
            <separator
                  name="separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  icon="icons/find.gif">
            </command>
            <separator
                  name="find.ext"
                  visible="false">
            </separator>
             <separator
                  name="separator4"
                  visible="true">
            </separator>
             <separator
                   name="add.ext"
                   visible="false">
             </separator>
            <separator
                  name="editEnd"
                  visible="false">
            </separator>
            <separator
                  name="additions"
                  visible="true">
            </separator>
         </menu>
         <menu
               id="navigate"
               label="%menu.navigate.label"
               mnemonic="%mnemonic.N">
            <separator
                  name="navStart"
                  visible="false">
            </separator>
            <command
                  commandId="org.eclipse.ui.navigate.goInto">
            </command>
            <menu
                  commandId="org.eclipse.ui.navigate.goToResource"
                  label="%menu.navigate.goToResource.label">
               <command
                     commandId="org.eclipse.ui.navigate.back">
               </command>
               <command
                     commandId="org.eclipse.ui.navigate.forward">
               </command>
               <command
                     commandId="org.eclipse.ui.navigate.up">
               </command>
               <separator
                     name="additions"
                     visible="true">
               </separator>
            </menu>
            <separator
                  name="open.ext"
                  visible="true">
            </separator>
            <separator
                  name="open.ext2"
                  visible="true">
            </separator>
            <separator
                  name="open.ext3"
                  visible="true">
            </separator>
            <separator
                  name="open.ext4"
                  visible="true">
            </separator>
            <separator
                  name="show.ext"
                  visible="true">
            </separator>
            <menu
                  commandId="org.eclipse.ui.navigate.showIn"
                  id="showIn"
                  label="%menu.navigate.showIn.label"
                  mnemonic="%mnemonic.w">
               <dynamic
                     class="org.eclipse.ui.internal.ShowInMenu"
                     id="org.eclipse.ui.navigate.showInQuickMenu">
               </dynamic>
            </menu>
            <separator
                  name="show.ext2"
                  visible="true">
            </separator>
            <separator
                  name="show.ext3"
                  visible="true">
            </separator>
            <separator
                  name="show.ext4"
                  visible="true">
            </separator>
            <separator
                  name="separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.navigate.next">
            </command>
            <command
                  commandId="org.eclipse.ui.navigate.previous">
            </command>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <separator
                  name="navEnd"
                  visible="false">
            </separator>
            <separator
                  name="separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.navigate.backwardHistory">
            </command>
            <command
                  commandId="org.eclipse.ui.navigate.forwardHistory">
            </command>
         </menu>
        <menu
              id="project"
              label="%menu.project.label"
              mnemonic="%mnemonic.P">
            <separator
                  name="projStart"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.project.openProject">
            </command>
            <command
                  commandId="org.eclipse.ui.project.closeProject">
            </command>
            <separator
                  name="open.ext"
                  visible="false">
            </separator>
            <separator
                  name="separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.project.buildAll"
                  disabledIcon="icons/buildAllDisabled.gif"
                  icon="icons/buildAllEnabled.gif">
            </command>
            <command
                  commandId="org.eclipse.ui.project.buildProject">
            </command>
            <menu
                  label="%menu.project.buildWorkingSet.label"
                  mnemonic="%mnemonic.W">
               <dynamic
                     class="org.eclipse.ui.internal.ide.actions.BuildSetMenu"
                     id="buildSetMenu">
               </dynamic>
            </menu>
            <command
                  commandId="org.eclipse.ui.project.cleanAction">
            </command>
            <command
                  commandId="org.eclipse.ui.project.buildAutomatically"
                  style="toggle">
            </command>
            <separator
                  name="build.ext"
                  visible="false">
            </separator>
            <separator
                  name="visualSeparator"
                  visible="true">
            </separator>
            <separator
                  name="additions"
                  visible="false">
            </separator>
            <separator
                  name="projEnd"
                  visible="false">
            </separator>
            <separator
                  name="visualSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.project.properties">
            </command>
         </menu>
         <separator
               name="additions"
               visible="false">
         </separator>
         <menu
               id="window"
               label="%menu.window.label"
               mnemonic="%mnemonic.W">
           <command
                 commandId="org.eclipse.ui.window.newWindow"
                 id="newWindow"
                 label="%menu.window.newWindow.label"
                 mnemonic="%mnemonic.N"
                 style="push">
            </command>
            <separator
                  name="window.separator.1"
                  visible="true">
            </separator>
            <menu
                  id="openPerspective"
                  label="%menu.window.openPerspective.label"
                  mnemonic="%mnemonic.O">
               <dynamic
                     class="com.compuware.frameworks.workbench.actions.OpenPerspectiveContributionItem"
                     id="com.compuware.frameworks.workbench.dynamicOpenPerspective">
               </dynamic>
            </menu>
            <menu
                  id="showView"
                  label="%menu.window.showView.label"
                  mnemonic="%mnemonic.V">
               <dynamic
                     class="com.compuware.frameworks.workbench.actions.ShowViewContributionItem"
                     id="com.compuware.frameworks.workbench.dynamicShowView">
               </dynamic>
            </menu>
            <separator
                  name="window.seperator.2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.customizePerspective"
                  id="customizePerspective"
                  label="%menu.window.customizePerspective.label"
                  mnemonic="%mnemonic.z"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.savePerspective"
                  id="savePerspectiveAs"
                  label="%menu.window.savePerspectiveAs.label"
                  mnemonic="%mnemonic.A"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  id="resetPerspective"
                  label="%menu.window.resetPerspective.label"
                  mnemonic="%mnemonic.R"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.closePerspective"
                  id="closePerspective"
                  label="%menu.window.closePerspective.label"
                  mnemonic="%mnemonic.C"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="preferences"
                  label="%menu.window.preferences.label"
                  mnemonic="%mnemonic.P"
                  style="push">
            </command>
         </menu>
         <menu
               id="help"
               label="%menu.help.label"
               mnemonic="%mnemonic.H">
            <command
                  commandId="org.eclipse.ui.help.quickStartAction"
                  icon="platform:/plugin/com.compuware.frameworks.imagerepository/images/view/compuwareIcon.png"
                  id="welcome"
                  label="%menu.help.welcome.label"
                  mnemonic="%mnemonic.W"
                  style="push">
            </command>
            <separator
                  name="help.seperator.1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  id="helpContents"
                  label="%menu.help.helpContents.label"
                  mnemonic="%mnemonic.H"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpSearch"
                  id="search"
                  label="%menu.help.search.label"
                  mnemonic="%mnemonic.e"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.dynamicHelp"
                  id="dynamicHelp"
                  label="%menu.help.dynamicHelp.label"
                  mnemonic="%mnemonic.D"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <separator
                  name="help.seperator.2"
                  visible="true">
            </separator>
            <command
                  commandId="com.compuware.frameworks.workbench.frontline.command"
                  id="frontlineCustomerSupport"
                  label="%menu.help.frontlineCustomerSupport.label"
                  mnemonic="%mnemonic.F"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  id="aboutCompuwareWorkbench"
                  label="%menu.help.aboutCompuwareWorkbench.label"
                  mnemonic="%mnemonic.A"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <separator
               name="additions">
         </separator>
      </menuContribution>
-->
      <menuContribution
            locationURI="menu:help?after=additions">
         <command
               commandId="com.compuware.frameworks.workbench.frontline.command"
               id="frontlineCustomerSupport"
               label="%menu.help.frontlineCustomerSupport.label"
               mnemonic="%mnemonic.F"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.compuware.frameworks.workbench.category"
            name="%commands.category.name">
      </category>
      <command
            categoryId="com.compuware.frameworks.workbench.category"
            defaultHandler="com.compuware.frameworks.workbench.handlers.FrontLineHandler"
            id="com.compuware.frameworks.workbench.frontline.command"
            name="%commands.frontline.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            description="The scheme that all workbench plugins will attach to"
            id="com.compuware.frameworks.workbench.keyConfig"
            name="Topaz Workbench Key Scheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.eclipse.ui.ExtensionFactory:preferencesImportWizard"
            id="com.compuware.frameworks.workbench.prefImportWizard"
            name="Preferences">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="org.eclipse.ui.ExtensionFactory:preferencesExportWizard"
            id="com.compuware.frameworks.workbench.prefExportWizard"
            name="Preferences">
      </wizard>
   </extension>
 	

</plugin>
